[Unit]
Description=Linear Webhook Receiver (ILL)
After=network.target

[Service]
Type=simple
User=fancymatt
WorkingDirectory=/home/fancymatt/Code/linear-webhook-ill
EnvironmentFile=/home/fancymatt/Code/linear-webhook-ill/.env
Environment=PATH=/home/fancymatt/.nvm/versions/node/v22.22.1/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/fancymatt/Code/linear-webhook-ill/node_modules/.bin/tsx src/index.ts
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
